################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/SqliteAgent/v15/Server/sqlite3
/obj/x86/Debug
/bin/Debug
